<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Validator</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<div class="square">
<form action="/index" method="post">
    <p>Enter text to check if number</p>
    <input type="text" name="string"/>
    <input id="button" type="submit" value="Validate!"/>
</form>
<p th:text="${isNumber}"></p>

</div>


<div class="square">
<form action="/email-validator" method="post">
    <p>Enter text to check if it is an e-mail</p>
    <input type="text" name="emailString"/>
    <input type="submit" value="Validate!"/>

</form>
<p th:text="${isEmail}"></p>
</div>


<form action="/palindrome-validator" method="post">
    <p>Enter text to check if it is a palindrome</p>
    <input type="text" name="palindromeString"/>
    <input type="submit" value="Validate!"/>

</form>
<p th:text="${isPalindrome}"></p>

</body>
</html>